
/* google fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

    /* Shared Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    color: #000000;
}
span {
    color: #E95A08;
}
p {
    color: rgba(0, 0, 0, 0.5);
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: #000000;
    color: #FFFFFF;
}
a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #E95A08;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* header section style */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
.fa-cart-shopping{
    color: #000000;
    transition: all 0.3s ease-in-out;
}
.fa-cart-shopping:hover{
    color: #E95A08;
}
.cart-amount{
    color: #000000;
}
/* banner section style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    margin: 50px 0;
}
.banner-contant {
    flex: 1;
    max-width: 600px;
}
.banner-title {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 20px;
}
.title-highlight {
    color: #E95A08;
}
.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner-img {
    display: flex;
    max-width: 600px;
}

/* Our Plants Section */

.our-plants{
    margin-top: 100px;
}
.section-head{
    text-align: center;
    margin: 50px 0;
}
.plants-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.plants-description{
    font-size: 18px;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 0;
}
.product-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.product-card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.product-card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.product-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-price {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.add-to-cart {
    width: 100%;
    border-radius: 3px;
}

/* Trusted Section Style */

.trusted-seller{
    margin: 150px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.trusted-img {
    max-width: 550px;
    position: relative;
    display: flex;
    justify-content: end;
}
.trusted-badge {
    max-width: 200px;
    height: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    right: -100px;
    animation: spin 6s linear infinite;
}
/* Animation Spin infinite */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.trusted-contant{
    max-width: 550px;
}
.trusted-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.trusted-list{
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    margin-left: 24px;
}
.trusted-list li p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* Lateast Deal Section */


